.inline-photo {
  border: 0px solid #fff;
  border-bottom: 0px solid #fff;
  border-radius: 0.25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  max-width: 600px;
  opacity: 0;
  -webkit-transform: translateY(4em) rotateZ(0deg);
  transform: translateY(4em) rotateZ(0deg);
  -webkit-transition: opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  width: 90%;

  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

header {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.25s ease-out;
  transition: opacity 0.5s 0.25s ease-out;
}

header.is-visible {
  opacity: 1;
}

.main-photo {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.heading {
  -webkit-transform: translate(-50%, calc(-50% + 1em));
  transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .main-photo {
  -webkit-transform: none;
  transform: none;
}

.is-visible .heading {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-photo,
.heading {
  -webkit-transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);

  will-change: transform;
}


